<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="send">
<insert id="insertSms" useGeneratedKeys="true" parameterType="Send">
  insert into send ( send_no, sms_content, sms_date )
  values ( #{sms_content}, now())
</insert>
	
</mapper>