<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="send">
	<insert id="insertSend" useGeneratedKeys="true"
		parameterType="string">
		insert into send_tb (sender, msg_content)
		values (#{sender}, #{msg_content})
	</insert>
	<select id="selectSendNo" resultType="int">
		SELECT send_no FROM send_tb ORDER BY send_no DESC LIMIT 1
	</select>
	<insert id="insertSms" parameterType="map">
		insert into message_tb (receiver, send_no_fk) values (#{receiver}, #{send_no_fk})
	</insert>
	<select id="selectSmsNo" resultType="int">
		SELECT max(msg_no) FROM message_tb
	</select>


	<select id="waitChecker" resultType="msg">
		SELECT message_tb.msg_no, message_tb.receiver,send_tb.msg_content, send_tb.sender
		FROM message_tb INNER JOIN send_tb ON message_tb.send_no_fk=send_tb.send_no
		WHERE message_tb.msg_st='wait'
		ORDER BY message.msg_no ASC LIMIT 1
	</select>
	
	
	<update id="msgIdUpdate" parameterType="map">
	UPDATE message_tb SET msg_id=#{msg_id} WHERE msg_no=#{msg_no};
	</update>
	
	<select id="pickData" resultType="msg" parameterType="int">
		SELECT message_tb.msg_no, message_tb.receiver,send_tb.msg_content, send_tb.sender
		FROM message_tb INNER JOIN send_tb ON message_tb.send_no_fk=send_tb.send_no
		WHERE message_tb.msg_st='wait' AND message_tb.send_no_fk=#{sendNo}
		ORDER BY message_tb.msg_no ASC LIMIT 1
	</select>
	
	<update id="codeReport" parameterType ="map">
	UPDATE message_tb SET result_cd=#{result_cd} WHERE msg_id = #{msg_id}
	</update>

	<!-- sms.receiver, send.sms_content, send.sender, sms.sms_no -->

	<update id="ingUpdate" parameterType="int">
		UPDATE message_tb SET msg_st='ing' WHERE msg_no = #{msg_no}
	</update>
	<update id="compUpdate">
		UPDATE message_tb SET msg_st='comp' WHERE msg_no = #{msg_no}
	</update>
	
	<update id="compUpdate2" parameterType ="int">
		UPDATE message_tb SET msg_st='comp' WHERE msg_id= #{msg_id}
	</update>

</mapper>